
html {
    font-size: 15px;
    /* px means "pixels": the base font size is now 10 pixels high */
    font-family:
        "Open Sans", sans-serif;
    /* this should be the rest of the output you got from Google Fonts */
}

h1 {
    font-size: 60px;
    text-align: center;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #9faac4;
}

body {
    max-width: 90%;  /* Instead of a fixed width, allow it to resize */
    width: 800px;  /* Keeps it limited to a maximum size */
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

p {
    max-width: 100%; /* Allow paragraphs to resize properly */
    width: 100%; /* Make text flexible inside containers */
    color: rgb(3, 3, 3);
}


  h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
